header, footer {

     display: flex !important; 
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: rgb(231, 188, 108);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 50px;
}

